{% extends "base.html" %}

{% block title %}Soundboard Clip Generator - Mandalores {% endblock %}

{% block page_title %}Soundboard Clip Generator{% endblock %}

{% block content %}

<form method="post" action="{% url 'soundboard:generate_clip' %}">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Generate Clip">
</form>

{% if clip %}
    <p>Status: <span id="clip-status">{{ clip.status }}</span></p>
    <div id="download-container">
        {% if clip.status == 'Completed' %}
            <a id="download-link" href="{% url 'home' %}">Download Clip</a>
        {% endif %}
    </div>
{% endif %}

{% if clip %}
<script>
    function checkStatus() {
        fetch("{% url 'home' %}")
            .then(response => response.json())
            .then(data => {
                document.getElementById('clip-status').innerText = data.status;
                if (data.status === 'Completed') {
                    clearInterval(statusInterval);
                    const downloadContainer = document.getElementById('download-container');
                    const downloadLink = document.createElement('a');
                    downloadLink.id = 'download-link';
                    downloadLink.href = '{% url "home" %}';
                    downloadLink.innerText = 'Download Clip';
                    downloadContainer.appendChild(downloadLink);
                }
            });
    }
    const statusInterval = setInterval(checkStatus, 5000); // Check every 5 seconds
</script>
{% endif %}
{% endblock %}
